@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 23% 5%;
    --foreground: 210 2% 78%;
    --card: 208 25% 16%;
    --card-foreground: 210 2% 78%;
    --popover: 208 25% 16%;
    --popover-foreground: 210 2% 78%;
    --primary: 177 39% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 177 39% 35%;
    --secondary-foreground: 0 0% 100%;
    --muted: 208 25% 22%;
    --muted-foreground: 210 2% 60%;
    --accent: 177 95% 69%;
    --accent-foreground: 210 23% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 25% 25%;
    --input: 208 25% 25%;
    --ring: 177 95% 69%;
    --chart-1: 177 39% 45%;
    --chart-2: 177 95% 69%;
    --chart-3: 210 2% 78%;
    --chart-4: 177 39% 65%;
    --chart-5: 210 2% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 23% 5%;
    --foreground: 210 2% 78%;
    --card: 208 25% 16%;
    --card-foreground: 210 2% 78%;
    --popover: 208 25% 16%;
    --popover-foreground: 210 2% 78%;
    --primary: 177 39% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 177 39% 35%;
    --secondary-foreground: 0 0% 100%;
    --muted: 208 25% 22%;
    --muted-foreground: 210 2% 60%;
    --accent: 177 95% 69%;
    --accent-foreground: 210 23% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 25% 25%;
    --input: 208 25% 25%;
    --ring: 177 95% 69%;
    --chart-1: 177 39% 45%;
    --chart-2: 177 95% 69%;
    --chart-3: 210 2% 78%;
    --chart-4: 177 39% 65%;
    --chart-5: 210 2% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
